<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>A new ticket has been submitted on Helpdesk.</p></br>

    <p>Title: <%= @ticket.title %></p></br>

    <p>Description:</p>
    <p><%= @ticket.description %></p>
  </body>
</html>
